/* Banner
=========================================================== */
.banner{
  font-family:"Poppins";
  width: 100%;
  background: linear-gradient(90deg,#6cdfee 0%,#538bf8 100%)!important
}
img.banner-fundo{
width: 100%;
position: absolute;
}
.banner-artigo{
  color:var(--cor-branco);
  justify-content: space-between;
  flex-wrap: wrap;
align-items: center;
}
.testo{
  width: 100%;
}
.testo h1{
  padding-top: 40px;
  font-size: 44px;
  font-weight:500;
  line-height: 57.2px;

}
.testo p{
font-family:"PTSans";
font-size:18px;
text-align: justify;
font-weight:500;

line-height:32.4px;
}
.banner-artigo-imagem{
margin-top: 30px;
margin-bottom:30px;
width: 80%; 
height: 200px;
    border: 6px solid #0c71c3;border-radius: 10px;
}
.banner-artigo-imagem img{
  width:100%;
  height: 202px;
  position: relative;
  display: block;
 
}    
/* O que fazemos
    ;
=========================================================== */
.fazemos{
position: relative;
margin-top: 9vh;
}

.fazemos h2 , .testo-futuro h2, .fazemos h3{
  font-family:"Poppins"; 
  text-align: center;
  font-size:38px;
  font-weight:500;
  line-height:49px;
  color:#fff;
}
.fazemos p , .testo-futuro p{
  font-size: 18px;
  text-align: center;
  font-weight:500;
  line-height:32.4px;
  color:rgba(255, 255, 255, 0.7);
  font-family:"PT Sans"; 
}

.cards{
flex-wrap: wrap;
}
.card{
margin-top: 10px;
width: 100%;
}
.card h3 {
font-size: 18px;  
font-weight:700;
line-height:25px;
word-spacing: 5px;
color:#fff;

}
.card p{
font-size:16px;
font-weight:500;
line-height:28.8px;
color:rgba(255, 255, 255, 0.7);
}
.card a{
padding: 10px;
text-align: center;
display: block;

text-decoration: none;
font-family:"OpenSans"; 
margin-top: 10px;
Font-size: 14px;
Font-weight: 700;
Line-height: 23.8px;
: 
}
.card a:hover{

 background: rgba(0, 0, 0, 0.05);
}

/**/
.novahera{
  margin-top: 10px;
}


.testo-futuro a{
    color: #ffffff!important;
    border-color: #4daaf2;
    border-radius: 100px;
    font-size: 16px;
    font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    background-color: #4daaf2;
    text-decoration: none;
    box-shadow: 0px 8px 35px -6px rgba(77,170,242,0.36)
}
.testo-futuro h2,.testo-futuro p{
  text-align: justify;
padding-bottom: 10px;

}
.testo-futuro .imagem{
    width: 100%;

    
}
.testo-futuro ul li{
font-family:"Poppins"; 
Font-size: 18px;
Font-weight: 500;
Line-height: 23.4px;
color: rgb(15, 184, 150);
padding-bottom: 10px;

}
.testo-futuro ul li:last-child{

padding-bottom: 40px;
}

 .imagem img{
width: 100%;
padding-top: 50px;
padding-bottom: 30px;
}
.novahera > .centro{
  flex-wrap: wrap;
}
/**/
.projectos h2{
font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
Font-size: 38px;
Font-weight: 500;
Line-height: 49.4px;
text-align: center;
color: rgb(255, 255, 255);
}
.projectos .card h3{
  Font-family: 'OpenSans', Helvetica, Arial, Lucida, sans-serif;
}
.projectos p{
font-family: "PT Sans", Helvetica, Arial, Lucida, sans-serif;
font-size: 18px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 500;
color: rgba(255, 255, 255, 0.7);
text-align: center;
}
.projectos .card h3{
text-align: center;
}
.projectos .card p{
Font-size: 16px;
Font-weight: 500;
Line-height: 28.8px;
color: rgba(255, 255, 255, 0.7);
}
.projectos .card a{

color: rgba(0, 0, 0, 0.7);
}
.banner-card{
max-width: 350px;
padding: 30px;
padding-top: 40px;
padding-bottom: 40px;
}
.banner > .centro > .rodape{
padding-top: 10vh;
padding-bottom: 10px;
align-items: flex-start;
}
.banner-card h6{
font-family:"Poppins", sans-serif;
Font-size: 24px;
font-weight:400;
line-height:33.6px;
text-align: center;
color:rgb(77, 170, 242);
}
.banner-card p{
font-family: "PTSans", Helvetica, Arial, Lucida, sans-serif;
Font-size: 17px;
font-weight: 500;
line-height: 30.6px;
color:rgb(102, 102, 102);
text-align: center;
}
@media screen and (min-width: 640px){

}
@media screen and (min-width: 960px){
.testo{
  width: 40%;
}
.banner-artigo-imagem{
margin-top: 0px;
margin-bottom:0px;
width: 30%; 
height: 200px;
    border: 6px solid #0c71c3;border-radius: 10px;
}

}
@media screen and (min-width: 1024px){

}
@media screen and (min-width: 1280px){
   .cards{

  justify-content: space-around;
}
.card{
width: 28%;




}
.novahera .centro{
  flex-wrap: nowrap;
  align-items:center;
  justify-content: space-between;
}
 .centro .testo-futuro{
  flex-wrap: nowrap;
  width: 50%;
}
.novahera  .centro .imagem{
 width: 45%;
}
.banner > .centro > .rodape{
padding-top: 20vh;
padding-bottom: 5vh;
align-items: flex-start;
}
}
@media screen and (min-width: 1600px){

}